* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color1: hsl(259, 100%, 65%);
    --primary-color2: hsl(0, 100%, 67%);
}

body {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container::before {
    background: url(../assets/images/bg2.avif) no-repeat center center/cover;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.9;
}
.container {
    width: 50%;
    border: 1px solid white;
    border-radius: 0 0 50px 0;
    background-color: rgba(234, 243, 242, 0.966);
}
.getdat {
    padding: 15px;
    margin: 20px;
    display: flex;
    flex-direction: row;
    width: 80%;
    margin-bottom: 5px;
}
.get {
    width: 100px;
    flex-grow: 1;
    padding: 5px;
    margin: 5px 10px;
}
.arr {
    display: flex;
    flex-direction: row; 
    align-items: center;
}
.arr > div {
    border: 1px solid #000000;
    background-color: rgba(0, 0, 0, 0.926);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#img1 {
    width: 40px;
    height: 40px;
    padding: 5px;
}
#hr {
    width: 85%;
    background-image: linear-gradient(left , white 2%, #E6E6E6 50%, rgb(58, 50, 123) 98%);
}

.disdat {
    padding: 15px;
    margin: 20px;
    width: 80%;
    margin-top: 0px;
}
.dis {
    display: flex;
    flex-direction: row;
}
.dis > h1 {
    font-size: 70px;
    padding: 10px 30px;
    line-height: 0.7;
}
#day, #month, #year {
    background-color: transparent;
    font-size: medium;
    width: 100px;
    padding: 10px 10px;
    margin: 5px 0;
    border: 1px solid black;
    border-radius: 5px;
    font-weight: bold;
}


